<shared-header></shared-header>
<div class="container my-5">
  <h1 class="mb-4">Business Challenges</h1>
  <div class="row row-cols-auto gap-4 d-flex justify-content-center">
    <div *ngFor="let challenge of challenges">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ challenge.title }}</h5>
          <p class="text-grey">Published by: {{ challenge.companyName }}</p>
          <p class="card-text">{{challenge.description}}</p>
          <div class="d-flex justify-content-between mb-1">
            <div>
              <i class="bi bi-cash text-grey me-1"></i>
              <span class="text-grey">{{ challenge.budget | number: '1.0-0' }} €</span>
            </div>
            <div>
              <i class="bi bi-calendar-event text-grey me-1"></i>
              <span class="text-grey">End: {{ challenge.endDate | date: 'dd/MM/yyyy' }}</span>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div>
              <i class="bi bi-people text-grey me-1"></i>
              <span class="text-grey">12 participants</span>
            </div>
            <div class="bg-primary px-2 py-1 rounded-5">
              <p class="text-add1 m-0" style="font-size: .7rem;">{{ challenge.odsList[0].name }}</p>
            </div>
          </div>
          <a [routerLink]="['/challenges', challenge.id]" class="d-flex justify-content-center btn btn-primary text-add1 fw-semibold rounded-0 mt-3">See details</a>
        </div>
      </div>
    </div>
  </div>
</div>
<shared-footer></shared-footer>
