<shared-header></shared-header>
<div class="container d-flex justify-content-center align-items-center" style="min-height: 75vh;">
  <div class="card p-4" style="width: 100%; max-width: 500px;">
    <h2 class="text-center">Reset your password</h2>
    <p class="text-center">Enter your new password below.</p>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" id="email" formControlName="email" class="form-control" [attr.disabled]="true">
      </div>

      <div class="mb-3">
        <label for="code" class="form-label">Verification Code:</label>
        <input type="text" id="code" formControlName="code" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="newPassword" class="form-label">New Password:</label>
        <input type="password" id="newPassword" formControlName="newPassword" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password:</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" required>
      </div>

      <button type="submit" class="btn btn-primary w-100" [disabled]="isSubmitting">Change Password</button>
    </form>

    <div *ngIf="message" class="alert mt-2" [ngClass]="{'alert-success': success, 'alert-danger': !success}">
      <p class="text-center">{{ message }}</p>
    </div>
  </div>
</div>

<shared-footer></shared-footer>
