<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand ps-3 pb-3" href="/">
      <img src="assets/logo.png" alt="Ecolink Logo" width="70" height="70" class="d-inline-block align-text-top">
    </a>

    <!-- Toggler button for offcanvas -->
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon text-light"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center">
      <!-- Main Menu -->
      <ul class="navbar-nav text-center">
        <li class="nav-item">
          <a class="nav-link fs-5 text-light" href="/startups">Startups</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 text-light" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 text-light" href="#">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 text-light" href="/about-us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 text-light" href="#">Contact</a>
        </li>
      </ul>
    </div>

    <!-- Right Section: Buttons + Profile Icon -->
    <div class="d-flex align-items-center me-3">
      <a href="/login" class="btn btn-outline-light me-2">Log In</a>
      <a href="/auth/register" class="btn btn-light me-3">Register</a>
      <a href="/profile" class="text-light">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M13.468 12.37c-.074-.116-.152-.23-.234-.341-.801-1.104-2.514-1.885-4.234-1.885-1.72 0-3.433.781-4.234 1.885a4.211 4.211 0 0 0-.234.341A6.958 6.958 0 0 0 8 15a6.958 6.958 0 0 0 5.468-2.63z"/>
          <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
        </svg>
      </a>

    </div>
  </div>
</nav>
