@import "variables";

.nav-link {
  font-size: 1rem;
  font-weight: normal;
  color: #333;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out; // Eliminamos la transición en text-shadow
  display: inline-block;
}

.nav-link:hover {
  color: map-get($colors, secondary);
  font-weight: bold;
  transform: scale(1.1); // Aumenta el tamaño sin modificar el font-size directamente
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); // La sombra de texto siempre está activa
}

li.nav-item {
  min-height: 40px; // Mantiene la altura constante para evitar cambios bruscos
}

button.navbar-toggler:focus, button.btn-close:focus {
  box-shadow: none;
}
