@import "../../../../scss/_variables";

.nav-link {
  font-size: 1rem;
  font-weight: normal;
  color: #333;
  transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out, transform 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  display: inline-block;
}

.nav-link:hover {
  color: map-get($colors, secondary);
  font-size: 1.25rem;
  font-weight: bold;
  transform: translateY(-5px);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
