<shared-header></shared-header>

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6">
      <h1 class="display-4">About Us</h1>
      <p class="lead">EcoLink is a platform that connects startups with investors and other stakeholders in the ecosystem. We provide a platform for startups to showcase their ideas and connect with potential investors.</p>
      <p class="lead">Our mission is to help startups grow and succeed by providing them with the resources they need to succeed. We believe that startups are the key to driving innovation and creating a better future for all of us.</p>
    </div>
    <div class="col-lg-6">
      <img src="assets/about-us.jpg" alt="About Us" class="img-fluid rounded">
    </div>
  </div>
<shared-footer></shared-footer>
