<h2 class="text-center text-greendark mt-5">Green Startups</h2>
<div class="container startups">
  <div class="d-flex justify-content-center row row-cols-auto gap-4">
    <div class="card" *ngFor="let startup of startups">
      <div class="card-body">
        <h5 class="card-title text-center">{{startup.name}}</h5>
        <p class="card-text text-center">{{startup.description}}</p>
        <a href="#" class="text-light fw-bold btn btn-greendark">
          Learn more
          <i class="bi bi-arrow-right-short"></i>
        </a>
      </div>
    </div>
  </div>
</div>
