<h2 class="text-center text-greendark fw-bold my-5">Ecological Blog</h2>
<div class="row row-cols-auto d-flex justify-content-center gap-4">
  <div *ngFor="let article of articles">
    <div class="card d-flex flex-column p-0">
      <img [src]="article.imageUrl" class="card-img-top" [alt]="article.title"/>
      <div class="card-body d-flex flex-column flex-grow-1 justify-content-center">
        <h5 class="card-title text-greendark">{{ article.title }}</h5>
        <p class="card-text">{{ article.shortDescription }}</p>
        <div class="mt-auto">
          <a href="/blog/{{article.id}}" class="text-primary fw-bold text-decoration-none">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>
