<h2 class="text-center text-greendark fw-bold my-5">Ecological Blog</h2>
<div class="row row-cols-auto d-flex justify-content-center gap-4">
  <div *ngFor="let article of articles">
  <div class="card p-0">
      <img
        src="assets/images/post-blog.jpg"
        class="card-img-top"
        [alt]="article.title"
      />
      <div class="card-body">
        <h5 class="card-title text-greendark">{{ article.title }}</h5>
        <p class="card-text">{{ article.description }}</p>
        <a href="/blog/{{article.id}}" class="text-primary fw-bold text-decoration-none"
          >Read more</a>
      </div>
    </div>
  </div>
</div>
