<shared-header></shared-header>
<div class="container d-flex justify-content-center align-items-center" style="min-height: 75vh;">
  <div class="card p-4" style="width: 100%; max-width: 500px;">
    <h2 class="text-center">Forgot your password?</h2>
    <p class="text-center">Please enter your email address and we'll send you a new verification code.</p>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" id="email" formControlName="email" class="form-control" required>
      </div>

      <button type="submit" class="btn btn-primary w-100" [disabled]="isSubmitting">Send</button>
    </form>

    <div *ngIf="message" class="alert mt-2" [ngClass]="{'alert-success': success, 'alert-danger': !success}">
      <p class="text-center">{{ message }}</p>
    </div>
  </div>
</div>
<shared-footer></shared-footer>
