<body style="display: flex; flex-direction: column; min-height: 100vh; margin: 0;">
  <shared-header></shared-header>

  <div class="container my-5" style="flex: 1;">
    <h2 class="mt-4">Order Lines</h2>

    <!-- Tabla de Líneas de Pedido -->
    <table class="table table-striped" *ngIf="cart?.orderLines?.length">
        <thead class="table-dark">
            <tr>
                <th>Image</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Category</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let orderLine of cart?.orderLines">
                <td><img [src]="orderLine.product.imageUrl" class="img-thumbnail" [alt]="orderLine.product.name"></td>
                <td>{{orderLine.product.name}}</td>
                <td>
                  <div class="input-group">
                    <button class="btn btn-outline-success" type="button" (click)="decrement(orderLine)">−</button>
                    <input type="text" class="form-control text-center" [value]="orderLine.amount" readonly style="max-width: 35px; padding: 2px;">
                    <button class="btn btn-success" type="button" (click)="increment(orderLine)">+</button>
                  </div>
                </td>
                <td>{{orderLine.product.categories[0].name}}</td>
                <td>{{orderLine.product.price | number:'1.2-2'}}€</td>
                <td><button (click)="removeProduct(orderLine.id)" class="btn btn-outline-danger"><i class="bi bi-trash3"></i></button></td>
            </tr>
        </tbody>
    </table>

    <!-- Mensaje de Carrito Vacío -->
    <div *ngIf="cart?.orderLines?.length === 0" class="alert alert-warning text-center" role="alert">
      There are no products in your cart
    </div>

    <h2>Shopping Cart</h2>
    <!-- Información del Carrito -->
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Date of Purchase</th>
                <th>State</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{cart?.purchaseDate | date:'MMMM d, y'}}</td>
                <td>Pending</td>
                <td>{{cart?.total | number:'1.2-2'}}€</td>
            </tr>
        </tbody>
    </table>
    <button *ngIf="cart?.orderLines?.length" class="btn btn-primary" [routerLink]="'/cart/checkout'">Checkout</button>
  </div>

  <shared-footer style="margin-top: auto; width: 100%;"></shared-footer>
</body>
