<app-header></app-header>
<div class="container mt-5">
    <div class="text-center">
        <h1>Nuestra Misión</h1>
        <p class="lead">Conectamos empresas innovadoras con startups ecológicas, facilitando el acceso a productos sostenibles para construir un futuro más verde.</p>
    </div>

    <hr class="my-5">

    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mb-4">Nuestro Impacto</h2>
            <div class="row">
                <div class="col-md-4">
                    <h3>Sostenibilidad</h3>
                    <p>Promovemos prácticas empresariales sostenibles y productos eco-amigables.</p>
                </div>
                <div class="col-md-4">
                    <h3>Colaboración</h3>
                    <p>Facilitamos consultorías valiosas entre empresas establecidas y startups innovadoras.</p>
                </div>
                <div class="col-md-4">
                    <h3>Economía Circular</h3>
                    <p>Fomentamos un modelo económico regenerativo y sostenible.</p>
                </div>
            </div>
        </div>
    </div>

    <hr class="my-5">

    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mb-4">Cómo Funciona</h2>
            <ol class="list-group list-group-numbered">
                <li class="list-group-item">Las startups ecológicas se registran y presentan sus productos innovadores.</li>
                <li class="list-group-item">Las empresas exploran y descubren soluciones sostenibles para sus necesidades.</li>
                <li class="list-group-item">Los usuarios pueden comprar directamente productos eco-amigables de las startups.</li>
                <li class="list-group-item">Facilitamos la comisión y colaboración entre empresas y startups.</li>
                <li class="list-group-item">Juntos, creamos un impacto positivo en el medio ambiente y la economía.</li>
            </ol>
        </div>
    </div>
</div>
<app-footer></app-footer>