<h2>Productos Destacados</h2>
<div class="card-container">
  <div class="card">
    <img src="assets/images/cafe.jpg" class="card-img-top" alt="Card 1">
    <div class="card-body">
      <h5 class="card-title">Card 1</h5>
      <p class="card-text">Este es el contenido de la card 1.</p>
    </div>
  </div>
  <div class="card">
    <img src="assets/images/cafe.jpg" class="card-img-top" alt="Card 2">
    <div class="card-body">
      <h5 class="card-title">Card 2</h5>
      <p class="card-text">Este es el contenido de la card 2.</p>
    </div>
  </div>
  <div class="card">
    <img src="assets/images/cafe.jpg" class="card-img-top" alt="Card 3">
    <div class="card-body">
      <h5 class="card-title">Card 3</h5>
      <p class="card-text">Este es el contenido de la card 3.</p>
    </div>
  </div>
  <div class="card">
    <img src="assets/images/cafe.jpg" class="card-img-top" alt="Card 4">
    <div class="card-body">
      <h5 class="card-title">Card 4</h5>
      <p class="card-text">Este es el contenido de la card 4.</p>
    </div>
  </div>
  <div class="card">
    <img src="assets/images/cafe.jpg" class="card-img-top" alt="Card 5">
    <div class="card-body">
      <h5 class="card-title">Card 5</h5>
      <p class="card-text">Este es el contenido de la card 5.</p>
    </div>
  </div>
</div>
