<shared-header></shared-header>
<!-- Mostramos error si no se encuentra la startup -->
<div
  class="d-flex flex-column justify-content-center align-items-center text-center vh-100"
  *ngIf="notFound"
>
  <h1 class="display-1 fw-bold text-greendark">404</h1>
  <h2 class="mb-3">Página no encontrada</h2>
  <p class="text-muted">
    Lo sentimos, la página que buscas no existe o ha sido movida.
  </p>
  <a href="/" class="btn btn-primary text-light mt-3">Volver al inicio</a>
</div>
<!-- Mostramos la informacion si se encuentra la startup -->
<div class="container my-5" *ngIf="!notFound">
  <div class="row">
    <div class="col-12">
      <div class="d-flex mb-3">
        <img src="assets/images/startup.webp" [alt]="startup?.name" class="rounded-5 me-3" style="width: 100px; height: 100px;"/>
        <div class="d-flex flex-column">
          <h1>{{ startup?.name }}</h1>
          <div class="d-flex flex-wrap gap-2">
            <p
              *ngFor="let ods of startup?.odsList"
              class="bg-secondary-subtle opacity-75 rounded-5 p-2 fw-bold m-0"
              style="font-size: 0.7rem"
            >
              {{ ods.name }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mb-3">
      <p class="fs-5 text-grey">{{ startup?.description }}</p>
    </div>
    <div class="col-12">
      <div class="border border-1 border-secondary-subtle rounded-3 p-2 mb-3">
        <h2 class="mb-3">Startup level</h2>
        <div
          class="progress mb-2"
          role="progressbar"
          aria-label="Basic example"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          <div class="progress-bar" style="width: 25%"></div>
        </div>
        <p class="text-grey">Level 7</p>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="border border-1 border-secondary-subtle rounded-3 p-2 mb-3">
        <h2 class="mb-3">Proposals</h2>
        <div
          *ngIf="startup?.proposals?.length === 0"
          class="text-center alert alert-warning"
        >
          <p class="m-0">No proposals yet</p>
        </div>
        <div class="row" *ngFor="let proposal of startup?.proposals">
          <div class="col-3">
            <p
              class="d-flex justify-content-center border border-1 border-secondary-subtle rounded-5 fw-semibold"
            >
              {{ proposal.status }}
            </p>
          </div>
          <div class="col-9">
            <p>{{ proposal.description }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="border border-1 border-secondary-subtle rounded-3 p-2">
        <h2 class="mb-3">Products</h2>
        <div
          *ngIf="startup?.products?.length === 0"
          class="text-center alert alert-warning"
        >
          <p class="m-0">No products yet</p>
        </div>
        <div class="row mb-2" *ngFor="let product of startup?.products">
          <div class="col-3">
            <img
              src="assets/images/cafe.jpg"
              [alt]="product.name"
              class="rounded-3 h-auto"
              style="width: 75px"
            />
          </div>
          <div class="col-9 d-flex align-items-center">
            <p>{{ product.name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<shared-footer></shared-footer>
