<div class="d-flex flex-column min-vh-100">
  <shared-header></shared-header>
<div class="container py-5 my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm border-light mt-3 mb-3">
        <div class="card-body">
          <h2 class="text-center mb-4">User Login</h2>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="eco-login-form">
            <!-- Campo Email con ícono -->
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-text">
                  <i class="bi bi-envelope"></i>
                </span>
                <input id="email" type="email" formControlName="email" class="form-control" placeholder="Username or email">
              </div>
              <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)" class="error-message">
                <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)" class="error-message">
                  <div *ngIf="loginForm.get('email')?.errors?.['required']" class="text-danger">
                    Email or username required.
                  </div>
                  <div *ngIf="loginForm.get('email')?.errors?.['email']" class="text-danger">
                    Please enter a valid email address.
                  </div>
                </div>
              </div>
            </div>
            <!-- Campo Password con ícono -->
            <div class="form-group">
              <div class="input-group">
    <span class="input-group-text">
      <i class="bi bi-lock"></i>
    </span>
                <input
                  [type]="showPassword ? 'text' : 'password'"
                  formControlName="password"
                  class="form-control"
                  placeholder="Password"
                >
                <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()">
                  <i [class.bi-eye]="!showPassword" [class.bi-eye-slash]="showPassword"></i>
                </button>
              </div>
              <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">
                <div *ngIf="loginForm.get('password')?.errors?.['required']" class="text-danger">
                  Password is required.
                </div>
              </div>
            </div>
            <div class="text-center m-2">
              <a routerLink="/auth/forgot-password" class="text-primary">Forgot your password?</a>
            </div>
            <!-- Botón de Login -->
            <button type="submit" [disabled]="isSubmitting" class="btn btn-primary text-light w-100">Login</button>
            <!-- Mensaje de alerta -->
            <div class="alert mt-2" [ngClass]="hasError ? 'alert-danger' : 'alert-success'" *ngIf="message !== ''">
              <p class="m-0 text-center">{{message}}</p>
            </div>
          </form>
          <div class="text-center mt-3">
            <p class="mb-0">Don't have an account?</p>
          </div>
          <div class="text-center mt-3">
            <a href="/auth/register" class="btn btn-outline-primary me-3">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<shared-footer class="bg-light text-center mt-auto"></shared-footer>
</div>
<!-- Loader -->
<div *ngIf="isSubmitting" class="loader-overlay">
  <div class="loader">
    <span class="item"></span>
    <span class="item"></span>
    <span class="item"></span>
    <span class="item"></span>
  </div>
</div>
