<div class="border border-1 rounded-3 p-3">
  <h2 class="m-0">Sales Management</h2>
  <small class="text-grey">Manage your sales here</small>

  <!-- Contenido de la vista de ventas -->
  <div class="mt-3">
    <table class="table table-striped" *ngIf="sales && sales.length > 0; else noSales">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Quantity Sold</th>
          <th>Total Revenue</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sale of sales">
          <td>{{ sale.name }}</td>
          <td>{{ sale.amount }}</td>
          <td>{{ sale.total | currency }}</td>
        </tr>
      </tbody>
    </table>
    <ng-template #noSales>
      <p class="fw-bold">No sales have taken place yet.</p>
    </ng-template>
  </div>
</div>