<h2 class="text-center fw-bold text-greendark mb-3">Organic Products</h2>
<div class="row row-cols-auto gap-4 d-flex justify-content-center">
  <div class="card shadow-big-default" *ngFor="let product of products">
    <img src="assets/images/cafe.jpg" [alt]="product.name">
    <div class="card-body text-center">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text text-greyprice">{{product.price}} €</p>
      <a (click)="addToCart(product.id)" class="text-light fw-bold btn btn-greendark">Add to cart</a>
    </div>
  </div>
</div>
