@import 'mixins';

.card-container {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 20px 0;
}

.card {
  width: 18rem;
  @include box-shadow(rgba(0, 0, 0, 0.1), 5px, 10px);
  border: none;
}
