<div class="border border-grey-subtle border-2 rounded-2 p-4">
  <h2>Filters</h2>
  <div class="row">
    <div class="col-12 col-md-6 mb-3 mb-md-0">
      <label for="search" class="fw-semibold">Startup name</label>
      <input type="text" class="form-control" placeholder="Search by name" />
    </div>
    <div class="col-12 col-md-6 mb-3">
      <label for="category" class="fw-semibold">Category</label>
      <select id="category" class="form-select">
        <option value="" selected disabled>Select categories</option>
        <option>Opciones</option>
      </select>
    </div>
    <a href="#" class="col-12 btn btn-dark">Apply filters</a>
  </div>
</div>
