<shared-header></shared-header>
<div class="container mt-5 mb-4 fs-3 text-greendark">
  <div class="d-flex text-greendark justify-content-center mb-4">
    <i class="bi bi-tree display-1"></i>
    <h2 class="text-center mb-4 display-1">
      {{ this.challengeId ? "Edit Challenge" : "Create Challenge" }}
    </h2>
  </div>
  <form (ngSubmit)="saveChallenge()">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        id="title"
        class="form-control"
        [(ngModel)]="challenge.title"
        name="title"
        required
      />
    </div>
    <div class="mb-3">
      <label for="shortDescription" class="form-label">Short Description</label>
      <textarea
        id="shortDescription"
        class="form-control"
        [(ngModel)]="challenge.shortDescription"
        name="shortDescription"
        rows="3"
        required
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        id="description"
        class="form-control"
        [(ngModel)]="challenge.description"
        name="description"
        rows="5"
        required
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="budget" class="form-label">Budget</label>
      <div class="input-group">
        <span class="input-group-text">€</span>
        <input
          type="number"
          id="budget"
          class="form-control"
          [(ngModel)]="challenge.budget"
          name="budget"
          required
        />
      </div>
    </div>
    <div class="mb-3">
      <label for="endDate" class="form-label">End Date</label>
      <input
        type="date"
        id="endDate"
        class="form-control"
        (change)="onEndDateChange($event)"
        [value]="formattedEndDate"
        required
      />
    </div>

    <div class="mb-3">
      <label for="odsList" class="form-label">ODS List</label>
      <select
        id="odsList"
        class="form-select"
        [(ngModel)]="odsIds"
        name="odsList"
        multiple
        required
      >
        <option *ngFor="let ods of odsList" [value]="ods.id">
          {{ ods.name }}
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label for="requirements" class="form-label">Requirements</label>
      <div
        *ngFor="let requirement of challenge.requirements; let i = index"
        class="input-group mb-2"
      >
        <input
          type="text"
          class="form-control"
          [value]="requirement"
          (blur)="updateRequirement($event, i)"
          placeholder="Enter requirement"
          required
        />
        <button
          type="button"
          class="btn btn-danger"
          (click)="removeRequirement(i)"
        >
          Remove
        </button>
      </div>
      <button type="button" class="btn btn-outline-secondary" (click)="addRequirement()">
        Add Requirement
      </button>
    </div>
    <div class="mb-5">
      <label for="benefits" class="form-label">Benefits</label>
      <div
        *ngFor="let benefit of challenge.benefits; let i = index"
        class="input-group mb-2"
      >
        <input
          type="text"
          class="form-control"
          [value]="benefit"
          (blur)="updateBenefit($event, i)"
          placeholder="Enter benefit"
          required
        />
        <button type="button" class="btn btn-danger" (click)="removeBenefit(i)">
          Remove
        </button>
      </div>
      <button type="button" class="btn btn-outline-secondary" (click)="addBenefit()">
        Add Benefit
      </button>
    </div>
    <button type="submit" class="btn btn-success btn-lg">
      {{ this.challengeId ? "Update" : "Create" }}
    </button>

    <button type="button" class="btn btn-danger ms-4 btn-lg" (click)="cancel()">
      Cancel
    </button>

    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
      {{ errorMessage }}
    </div>
  </form>
</div>
<shared-footer></shared-footer>
