<div class="container mt-5">
  <div class="d-flex align-items-center justify-content-center">
    <i class="bi bi-tree text-primary fs-1"></i>
    <h1 class="text-greendark">Eco-Challenge</h1>
  </div>
  <h4 class="text-center">Upload your proposal and connect with the company</h4>

  <div class="border border-1 rounded-3 p-3">
    <h2 class="m-0">{{ isEditing ? 'Edit Proposal' : 'New Proposal' }}</h2>
    <small class="text-grey">
      {{ isEditing ? 'Edit the details of the proposal' : 'Fill in the details of the new proposal' }}
    </small>

    <!-- Mostrar información del desafío -->
    <div *ngIf="challenge" class="mt-3">
      <h3>Challenge: {{ challenge.title }}</h3>
      <p>{{ challenge.description }}</p>
    </div>

    <form (ngSubmit)="onSubmit()" [formGroup]="proposalForm" class="mt-3">
      <!-- Título -->
      <div class="mb-3">
        <label for="title">Title</label>
        <input id="title" type="text" formControlName="title" class="form-control"
               [ngClass]="{ 'is-invalid': proposalForm.get('title')?.invalid && proposalForm.get('title')?.touched }">
        <div *ngIf="proposalForm.get('title')?.invalid && proposalForm.get('title')?.touched" class="invalid-feedback">
          <div *ngIf="proposalForm.get('title')?.errors?.['required']">Title is required</div>
          <div *ngIf="proposalForm.get('title')?.errors?.['minlength']">Minimum 5 characters</div>
        </div>
      </div>

      <!-- Descripción -->
      <div class="mb-3">
        <label for="description">Description</label>
        <textarea id="description" formControlName="description" class="form-control"
                  [ngClass]="{ 'is-invalid': proposalForm.get('description')?.invalid && proposalForm.get('description')?.touched }">
        </textarea>
        <div *ngIf="proposalForm.get('description')?.invalid && proposalForm.get('description')?.touched" class="invalid-feedback">
          <div *ngIf="proposalForm.get('description')?.errors?.['required']">Description is required</div>
          <div *ngIf="proposalForm.get('description')?.errors?.['maxlength']">Maximum 1000 characters</div>
        </div>
      </div>

      <!-- Enlace al Producto -->
      <div class="mb-3">
        <label for="productLink">Link to the product (optional)</label>
        <input type="text" id="productLink" class="form-control" formControlName="link" placeholder="https://...">
      </div>

      <!-- Botón de envío -->
      <div class="text-center">
        <button type="submit" class="btn btn-success" [disabled]="proposalForm.invalid">
          {{ isEditing ? 'Update Proposal' : 'Create Proposal' }}
        </button>
      </div>
    </form>
  </div>
</div>
