<shared-header></shared-header>
<div class="container my-5">
  <h1>Administration Panel</h1>
  <div class="row g-0 row-cols-3 bg-secondary-subtle p-1 rounded mb-3">
    <a class="col btn" (click)="setShowProducts()"
       [ngClass]="showProducts ? 'btn-success' : 'text-secondary-emphasis text-center d-flex align-items-center justify-content-center text-decoration-none cursor-pointer'">
      Products
    </a>
    <a class="col btn" (click)="setShowSales()"
       [ngClass]="showSales ? 'btn-success' : 'text-secondary-emphasis text-center d-flex align-items-center justify-content-center text-decoration-none cursor-pointer'">
      Sales
    </a>
    <a class="col btn" (click)="setShowAddProduct()"
       [ngClass]="showAddProduct ? 'btn-success' : 'text-secondary-emphasis text-center d-flex align-items-center justify-content-center text-decoration-none cursor-pointer'">
      {{ editingProduct ? 'Edit product' : 'Add product' }}
    </a>
  </div>

  <div class="border border-1 rounded-3 p-3">
    <div *ngIf="showProducts">
      <h2 class="m-0">List of products</h2>
      <small class="text-grey">Manage your products here</small>
      <table class="table table-success border-3 mt-3">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.name }}</td>
          <td>{{ product.price | currency:'EUR' }}</td>
          <td>
            <button class="btn btn-sm btn-outline-info me-2" (click)="onEditProduct(product)">
              <i class="bi bi-pencil-square"></i>
            </button>
            <button class="btn btn-sm btn-outline-danger" (click)="onDeleteProduct(product.id)">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="showAddProduct">
      <h2 class="m-0">{{ editingProduct ? 'Edit product' : 'Add product' }}</h2>
      <small class="text-grey">
        {{ editingProduct ? 'Edit the details of the product' : 'Enter the details of the new product' }}
      </small>
      <form class="mt-2" (ngSubmit)="onSubmitAddProduct()" [formGroup]="productForm">
        <div class="row">
          <div class="col-12 col-md-6 mb-3">
            <label for="productName">Product Name</label>
            <input id="productName" type="text" formControlName="name" class="form-control" placeholder="Enter the product name" required>
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label for="price">Price</label>
            <input id="price" type="number" formControlName="price" class="form-control" placeholder="Enter the price" required>
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label for="category">Category</label>
            <ng-multiselect-dropdown
              [placeholder]="'Select categories'"
              [data]="categories"
              [settings]="dropdownSettings"
              formControlName="categories"
              (onDropDownClose)="validateCategories()">
            </ng-multiselect-dropdown>

            <div *ngIf="productForm.get('categories')?.invalid && (productForm.get('categories')?.dirty || productForm.get('categories')?.touched)" class="text-danger">
              Select at least 1 category.
            </div>
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label for="image">Product image</label>
            <input type="file" class="form-control" name="image" id="image" #fileImage (change)="changeImage(fileImage)" accept="image/*">
          </div>
          <div *ngIf="productForm.get('imageUrl')?.value" class="d-flex justify-content-center mt-3">
            <img [src]="productForm.get('imageUrl')?.value" alt="Vista previa" style="max-width: 400px; max-height: 400px;">
          </div>
          <div class="col-12 mb-3">
            <label for="description">Description</label>
            <textarea id="description" name="description" rows="3" class="form-control" placeholder="Enter product description"
                      formControlName="description"></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-greendark mt-3">
          {{ editingProduct ? 'Update product' : 'Add product' }}
        </button>
      </form>
    </div>

    <div *ngIf="showSales">
      <h2>Sales view</h2>
      <p>Here you can manage your sales data.</p>
    </div>
  </div>
</div>

<shared-footer></shared-footer>
