<shared-header></shared-header>
<div class="container my-5">
  <!-- nombre, descripcion, precio, categoria, stock, imagen -->
  <h1>Administration panel</h1>
  <div class="row g-0 row-cols-3 bg-secondary-subtle p-1 rounded mb-3">
    <a class="col btn" (click)="setShowProducts()"
      [ngClass]="showProducts ? 'btn-success' : 'text-secondary-emphasis text-center d-flex align-items-center justify-content-center text-decoration-none cursor-pointer'">Products</a>
    <a class="col btn" (click)="setShowSales()"
      [ngClass]="showSales ? 'btn-success' : 'text-secondary-emphasis text-center d-flex align-items-center justify-content-center text-decoration-none cursor-pointer'">Sales</a>
    <a class="col btn" (click)="setShowAddProduct()"
      [ngClass]="showAddProduct ? 'btn-success' : 'text-secondary-emphasis text-center d-flex align-items-center justify-content-center text-decoration-none cursor-pointer'">Add
      product</a>
  </div>
  <div class="border border-1 rounded-3 p-3">
    <div *ngIf="showProducts">
      <h2 class="m-0">List of products</h2>
      <small class="text-grey">Manage your products here</small>
      <table class="table table-success border-3 mt-3">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">Product 1</td>
            <td scope="row">19,99€</td>
            <td scope="row">100</td>
            <td scope="row">
              <button class="btn btn-sm btn-outline-info me-2">
                <i class="bi bi-pencil-square"></i>
              </button>
              <button class="btn btn-sm btn-outline-danger">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td scope="row">Product 1</td>
            <td scope="row">19,99€</td>
            <td scope="row">100</td>
            <td scope="row">
              <button class="btn btn-sm btn-outline-info me-2">
                <i class="bi bi-pencil-square"></i>
              </button>
              <button class="btn btn-sm btn-outline-danger">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="showAddProduct">
      <h2 class="m-0">Add product</h2>
      <small class="text-grey">Enter the details of the new product</small>
      <form class="mt-2">
        <div class="row">
          <div class="col-12 col-md-6">
            <label for="productName">Product Name</label>
            <input type="text" name="productName" class="form-control" placeholder="Enter the product name">
          </div>
          <div class="col-12 col-md-6">
            <label for="price">Price</label>
            <input type="number" name="price" class="form-control" placeholder="Enter the price">
          </div>
          <div class="col-12 col-md-6">
            <label for="stock">Stock</label>
            <input type="number" name="stock" class="form-control" placeholder="Enter the amount in stock">
          </div>
          <div class="col-12 col-md-6">
            <label for="category">Category</label>
            <select name="category" class="form-select">
              <option [value]="null" selected disabled>Select a category</option>
              <option value="1">Category 1</option>
              <option value="2">Category 2</option>
              <option value="3">Category 3</option>
            </select>
          </div>
          <div>
            <label for="description" >Description</label>
            <textarea name="description" rows="3" class="form-control" placeholder="Enter product description"></textarea>
          </div>
          <div>
            <label for="image">Product image</label>
            <input class="form-control" type="file">
          </div>
        </div>
        <input type="submit" value="Add product" class="btn btn-greendark mt-3">
      </form>
    </div>
  </div>
</div>
<shared-footer></shared-footer>
