<button (click)="toggleEditForm()" class="btn btn-success">Edit Profile</button>

<form *ngIf="showEditForm " [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <div class="mb-3" *ngIf="!isClient">
    <label for="description" class="form-label">Description</label>
    <textarea id="description" formControlName="description" class="form-control"></textarea>
  </div>
  <div class="mb-3" *ngIf="isStartup">
    <label for="ods" class="form-label">ODS</label>
    <select id="ods" formControlName="ods" class="form-control" multiple>
      <option *ngFor="let ods of odsList" [value]="ods.id">{{ ods.name }}</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="imageUrl" class="form-label">Profile Image</label>
    <input type="file" id="imageUrl" (change)="onFileChange($event)" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Save</button>
</form>
