<shared-header></shared-header>
<div class="container">
  <h1 class="fw-bold mt-5">Green Startups</h1>
  <startup-filter></startup-filter>
  <div class="row row-cols-auto d-flex justify-content-center my-5 gap-4">
    <div class="card p-3" *ngFor="let startup of startups" (click)="findStartupById(startup.id)">
      <div class="d-flex align-items-center">
        <img src="assets/images/startup.webp" width="60" height="60" [alt]="startup.name" class="me-2">
        <h3>{{startup.name}}</h3>
      </div>
      <p class="text-grey mb-0">Energía Renovable</p>
      <p>{{startup.description}}</p>
    </div>
  </div>
</div>
<shared-footer></shared-footer>
