<shared-header></shared-header>
<div class="container">
  <h1 class="fw-bold mt-5">Green Startups</h1>
  <startup-filter></startup-filter>
  <div class="row row-cols-auto my-5 gap-4">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <img src="assets/images/startup.webp" width="60" height="60" alt="EcoEnergy" class="me-2">
        <h3>EcoEnergy</h3>
      </div>
      <p class="text-grey mb-0">Energía Renovable</p>
      <p>Soluciones de energía renovable para hogares y empresas</p>
    </div>
    <div class="card">
      <div>
        <img src="" alt="EcoEnergy">
        <h3>EcoEnergy</h3>
      </div>
      <p class="text-grey">Energía Renovable</p>
      <p>Soluciones de energía renovable para hogares y empresas</p>
    </div>
    <div class="card">
      <div>
        <img src="" alt="EcoEnergy">
        <h3>EcoEnergy</h3>
      </div>
      <p class="text-grey">Energía Renovable</p>
      <p>Soluciones de energía renovable para hogares y empresas</p>
    </div>
    <div class="card">
      <div>
        <img src="" alt="EcoEnergy">
        <h3>EcoEnergy</h3>
      </div>
      <p class="text-grey">Energía Renovable</p>
      <p>Soluciones de energía renovable para hogares y empresas</p>
    </div>
  </div>
</div>
<shared-footer></shared-footer>
