<shared-header></shared-header>
<div class="background-header d-flex flex-column justify-content-center align-items-center">
  <h1 class="text-center text-light fw-bold">Building a Green Future</h1>
  <p class="fs-4 text-center text-light">Join us in our mission to create a more sustainable world</p>
  <a href="/profile" class="btn btn-light text-greendark fw-bold rounded-5">Start Now</a>
</div>
<div class="container my-5">
  <home-products></home-products>
  <home-startups></home-startups>
  <home-challenges></home-challenges>
  <home-missions></home-missions>
  <home-posts></home-posts>
</div>
<shared-footer></shared-footer>
