<shared-header></shared-header>
<div class="background-header d-flex flex-column justify-content-center align-items-center">
  <h1 class="text-center text-light fw-bold">Construyendo un Futuro Verde</h1>
  <p class="fs-4 text-center text-light">Únete a nuestra misión para crear un mundo más sostenible</p>
  <a href="#" class="btn btn-light text-greendark fw-bold rounded-5">Comienza Ahora</a>
</div>
<div class="container my-5">
  <home-products></home-products>
  <home-startups></home-startups>
  <home-challenges></home-challenges>
  <home-missions></home-missions>
  <home-posts></home-posts>
</div>
<shared-footer></shared-footer>
