.background-header {
  background-color: #15803d;
  height: 20rem;
}

.background-header > h1 {
  font-size: 4rem;
}

@media (max-width: 600px) {
  .background-header > h1 {
    font-size: 3rem;
  }
}

.background-header > a {
  font-size: 1.2rem;
}
