<div class="border border-1 rounded-3 p-3">
  <h2 class="m-0">{{ isEditing ? 'Edit product' : 'Add product' }}</h2>
  <small class="text-grey">
    {{ isEditing ? 'Edit the details of the product' : 'Enter the details of the new product' }}
  </small>
  <form class="mt-2" (ngSubmit)="onSubmit()" [formGroup]="productForm">
    <div class="row">
      <!-- Nombre -->
      <div class="col-12 col-md-6 mb-3">
        <label for="productName">Product Name</label>
        <input id="productName" type="text" formControlName="name" class="form-control"
               [ngClass]="{ 'is-invalid': productForm.get('name')?.invalid &&
               (productForm.get('name')?.dirty || productForm.get('name')?.touched) }">
        <div *ngIf="productForm.get('name')?.invalid" class="invalid-feedback">
          <div *ngIf="productForm.get('name')?.errors?.['required']">Product name is required</div>
          <div *ngIf="productForm.get('name')?.errors?.['minlength']">Minimum 3 characters</div>
          <div *ngIf="productForm.get('name')?.errors?.['maxlength']">Maximum 100 characters</div>
        </div>
      </div>

      <!-- Precio -->
      <div class="col-12 col-md-6 mb-3">
        <label for="price">Price</label>
        <input id="price" type="number" step="0.01" formControlName="price" class="form-control"
               [ngClass]="{ 'is-invalid': productForm.get('price')?.invalid &&
               (productForm.get('price')?.dirty || productForm.get('price')?.touched) }">
        <div *ngIf="productForm.get('price')?.invalid" class="invalid-feedback">
          <div *ngIf="productForm.get('price')?.errors?.['required']">Price is required</div>
          <div *ngIf="productForm.get('price')?.errors?.['min']">Minimum price is €0.01</div>
        </div>
      </div>

      <!-- Categorías -->
      <div class="col-12 col-md-6 mb-3">
        <label>Category</label>
        <ng-multiselect-dropdown
          [ngClass]="{ 'is-invalid': productForm.get('categories')?.invalid && (productForm.get('categories')?.dirty || productForm.get('categories')?.touched) }"
          [placeholder]="'Select categories'"
          [settings]="dropdownSettings"
          [data]="categories"
          formControlName="categories"
          (onDropDownClose)="validateCategories()">
        </ng-multiselect-dropdown>
        <div *ngIf="productForm.get('categories')?.invalid" class="invalid-feedback">
          At least 1 category is required
        </div>
      </div>

      <!-- Imagen -->
      <div class="col-12 col-md-6 mb-3">
        <label for="image">Product image</label>
        <input type="file" class="form-control" name="image" id="image" #fileImage (change)="changeImage(fileImage)" accept="image/*"
               [ngClass]="{ 'is-invalid': productForm.get('imageUrl')?.invalid &&
         (productForm.get('imageUrl')?.dirty || productForm.get('imageUrl')?.touched) }">
        <div *ngIf="productForm.get('imageUrl')?.invalid" class="invalid-feedback">
          <div *ngIf="productForm.get('imageUrl')?.errors?.['required']">
            Product image is required
          </div>
        </div>
      </div>

      <!-- Vista previa de la imagen -->
      <div *ngIf="imageUrl" class="d-flex justify-content-center mt-3">
        <img [src]="imageUrl" alt="Vista previa" style="max-width: 400px; max-height: 400px;">
      </div>

      <!-- Descripción -->
      <div class="col-12 mb-3">
        <label for="description">Description</label>
        <textarea id="description" formControlName="description" class="form-control"
                  [ngClass]="{ 'is-invalid': productForm.get('description')?.invalid &&
                  (productForm.get('description')?.dirty || productForm.get('description')?.touched) }"></textarea>
        <div *ngIf="productForm.get('description')?.invalid" class="invalid-feedback">
          <div *ngIf="productForm.get('description')?.errors?.['required']">Description is required</div>
          <div *ngIf="productForm.get('description')?.errors?.['maxlength']">
            Maximum 500 characters ({{ (productForm.get('description')?.value || '').length }}/500)
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-greendark mt-3" [disabled]="productForm.invalid || productForm.pending">
      {{ isEditing ? 'Update product' : 'Add product' }}
    </button>
  </form>
</div>
