@import 'variables';
@import 'mixins';
#missions {
    .card {
      border-radius: 16px;
      @include box-shadow(rgba(0, 0, 0, 0.1), 10px, 5px);
    }
  
    button {
      background-color: map-get($colors, greenbackground);
      border-radius: 8px;
      border: none;
      font-size: 1rem;
      font-weight: 600;
  
      &:hover {
        background-color: map-get($colors, greenhover);
      }
    }
    .card{
        border: none;
    }
  }
  