<h2 class="mt-5">Misiones</h2>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between mb-1">
      <div class="d-flex">
        <input type="checkbox" name="mision-check" class="me-1">
        <h5 class="mb-1">List group item heading</h5>
      </div>
      <small>3 days ago</small>
    </div>
    <small>And some small print.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between mb-1">
      <div class="d-flex">
        <input type="checkbox" name="mision-check" class="me-1">
        <h5 class="mb-1">List group item heading</h5>
      </div>
      <small class="text-body-secondary">3 days ago</small>
    </div>
    <small class="text-body-secondary">And some muted small print.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between mb-1">
      <div class="d-flex">
        <input type="checkbox" name="mision-check" class="me-1">
        <h5 class="mb-1">List group item heading</h5>
      </div>
      <small class="text-body-secondary">3 days ago</small>
    </div>
    <small class="text-body-secondary">And some muted small print.</small>
  </a>
</div>
