<div class="card p-3 mb-3 border-0 shadow-sm bg-light"> <!-- Comentario 1 -->
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex">
      <img [src]="comment.imageUrl" alt="Usuario" class="rounded-circle me-3 border" width="50" height="50">
      <div>
        <h5 class="mb-1 text-success">{{ comment.name }}</h5>
        <p class="mb-0" *ngIf="editingCommentId !== comment.id">{{ comment.comment }}</p>

        <!-- Muestra el input si está en modo edición -->
        <textarea class="form-control" [(ngModel)]="editedComment" *ngIf="editingCommentId === comment.id"></textarea>
        <button class="btn btn-success mt-1" (click)="saveEditedComment()" *ngIf="editingCommentId === comment.id">
          <i class="bi bi-check-lg text-light"></i> Guardar
        </button>
      </div>
    </div>
    <div>
      <a class="btn btn-info me-1" *ngIf="comment.id_user === userId || isAdmin" (click)="edit(comment)">
        <i class="bi bi-pencil-square text-light"></i>
      </a>
      <a (click)="delete(comment.id)" class="btn btn-danger" *ngIf="comment.id_user === userId || isAdmin">
        <i class="bi bi-trash"></i>
      </a>
    </div>

  </div>
</div>
<div class="alert alert-danger text-center" *ngIf="message">
  {{ message }}
</div>
