<shared-header></shared-header>
<div class="container my-5">
  <h2 class="mb-4">Add New Post</h2>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" formControlName="title" placeholder="Enter title" [class.is-invalid]="postForm.controls['title'].invalid && postForm.controls['title'].touched">
          <div class="invalid-feedback" *ngIf="postForm.controls['title'].invalid && postForm.controls['title'].touched">
              Title is required.
          </div>
        </div>
        <div class="col mb-3">
            <label for="startup" class="form-label">Startup Name</label>
            <input type="text" class="form-control" id="startup" formControlName="startup" placeholder="Enter startup name" [class.is-invalid]="postForm.controls['startup'].invalid && postForm.controls['startup'].touched">
            <div class="invalid-feedback" *ngIf="postForm.controls['startup'].invalid && postForm.controls['startup'].touched">
                Startup name is required.
            </div>
        </div>
        <div class="col mb-3">
            <label for="shortDescription" class="form-label">Short Description</label>
            <input type="text" class="form-control" id="shortDescription" formControlName="shortDescription" placeholder="Enter a short description" [class.is-invalid]="postForm.controls['shortDescription'].invalid && postForm.controls['shortDescription'].touched">
            <div class="invalid-feedback" *ngIf="postForm.controls['shortDescription'].invalid && postForm.controls['shortDescription'].touched">
                Short description is required.
            </div>
        </div>
        <div class="col mb-3">
          <label for="imageUrl" class="form-label">Image Upload</label>
          <input type="file" class="form-control" id="imageUrl" formControlName="imageUrl" accept="image/*"
            [class.is-invalid]="postForm.controls['imageUrl'].invalid && postForm.controls['imageUrl'].touched">
          <div class="invalid-feedback" *ngIf="postForm.controls['imageUrl'].invalid && postForm.controls['imageUrl'].touched">
            Image file is required.
          </div>
        </div>
      </div>
      <div class="mb-3">
          <label for="description" class="form-label">Full Description</label>
          <textarea class="form-control" id="description" formControlName="description" rows="4" placeholder="Enter full description" [class.is-invalid]="postForm.controls['description'].invalid && postForm.controls['description'].touched"></textarea>
          <div class="invalid-feedback" *ngIf="postForm.controls['description'].invalid && postForm.controls['description'].touched">
              Full description is required.
          </div>
      </div>
      <div class="form-group mb-3">
        <label>Ods</label>
        <ng-multiselect-dropdown
          [placeholder]="'Select Ods'"
          [data]="odsList"
          [settings]="dropdownSettings"
          formControlName="ods"
          (onDropDownClose)="validateOdsList()">
        </ng-multiselect-dropdown>

        <!-- Error Message -->
        <div *ngIf="postForm.get('ods')?.invalid && (postForm.get('ods')?.dirty || postForm.get('ods')?.touched)" class="text-danger">
          Select at least 1 preference.
        </div>
      </div>
      <button type="submit" class="btn btn-success">Add Post</button>
  </form>
</div>
<shared-footer></shared-footer>
