@import 'variables';
@import 'mixins';
//************************************************
//SCROLL BAR
//************************************************
::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background-color: map-get($colors, add1);
}

::-webkit-scrollbar-thumb {
  background-color: map-get($colors, primary);
  border-radius: 6px;
  border: 2px solid map-get($colors, add1);
  &:hover {
    background-color: map-get($colors, primary);
  }
}

//************************************************
//Contorno
//************************************************
.contorno {
  text-shadow:
  1px 0 0 map-get($colors, text),    /* Desplaza a la derecha */
  -1px 0 0 map-get($colors, text),   /* Desplaza a la izquierda */
  0 1px 0 map-get($colors, text),    /* Desplaza abajo */
  0 -1px 0 map-get($colors, text);   /* Desplaza arriba */
}
//************************************************
//Card
//************************************************
.card {
  @extend .h-100;
  @extend .border-0;
  
  @include box-shadow(rgba(0, 0, 0, 0.1), 5px, 10px);
}
//************************************************
//Progress Bar and Pagination
//************************************************
$progress-bar-bg: map-get($colors, primary);

$pagination-border-width: 0px;
$pagination-color: #FFF;
$pagination-bg: #22543d;
$pagination-active-bg: #2E7D32;
$pagination-disabled-bg: #A5D6A7;
$pagination-hover-bg: #388E3C;
$pagination-hover-color: #FFF;