@import 'variables';

@mixin box-shadow($color, $blur, $spread) {
    box-shadow: 0px $blur $spread $color;
}

// Ejemplo de uso:
// .card {
//   @include box-shadow(rgba(0, 0, 0, 0.1), 5px, 10px);
//   @include box-shadow(map-get($icon-colors, dollar), 5px, 10px);
// }

// Generar clases de sombra para cada tamaño y color
@each $size-name, $size-values in $sizes {
  $blur: nth($size-values, 1);
  $spread: nth($size-values, 2);

  @each $color-name, $color-value in $icon-colors {
    .shadow-#{$size-name}-#{$color-name} {
      @include box-shadow($color-value, $blur, $spread);
    }
  }
}


  