$colors: (
  primary: #61a82f,
  secondary: #dd0861,
  text: #313131,
  add1: #f8f9fa,
  greenbackground: #f0fdf4,
  greendark: #22543d,
  greenhover: #b0e8cd,
  greyprice: #797979,

);

 $progress-bar-bg: map-get($colors, primary);




