$colors: (
  primary: #61a82f,
  secondary: #dd0861,
  text: #313131,
  add1: #f8f9fa,
  greenbackground: #e3f7eb,
  greendark: #22543d,
  greenhover: #b0e8cd,
  greyprice: #797979,
  custom-gray: #6c757d

);

$icon-colors: (
  dollar: #22c55e,
  calendar-start: #3b82f6,
  calendar-end: #ef4444,
  participants: #a855f7,
  default: rgba(0, 0, 0, 0.1)
);

$sizes: (
  small: (1px, 2px),
  medium: (4px, 8px),
  big: (6px, 12px)
);

