<div *ngIf="showPopup" class="position-fixed top-50 start-50 translate-middle p-3" style="z-index: 1050;">
  <div class="toast show bg-greenbackground text-greendark py-3 px-4" role="alert">
    <div class="toast-body d-flex align-items-center fs-4 fw-bold">
    Product added to cart successfully!
    </div>
  </div>
</div>

<div class="card shadow-big-default text-center">
  <a [routerLink]="['/products', product.id]" class="text-decoration-none text-reset">
    <img [src]="product.imageUrl" [alt]="product.name">
    <p class="fw-bold mt-2 m-0">{{product.name}}</p>
    <p class="fw-light m-0">{{product.price}} €</p>
    <p class="text-grey mb-2">By {{product.startupName}}</p>
  </a>
  <a (click)="addProduct()" class="text-light fw-bold btn btn-greendark rounded-0">Add to cart</a>
</div>
